# Main configurations
debug_mode=False
bot_username=EXAMPLE.INVALID_BOT_USERNAME

# API's configuration
bot_token=EXAMPLE_TOKEN
gemini_api_key=EXAMPLE_API_KEY

# Database configuration
db_host=localhost
db_port=5432
db_user=postgres
db_password=postgres
db_name=sample_db
